.formContainer {
  margin-top: 36px;
}

.inputContainer {
  position: relative;
  margin-bottom: 8px;
}

.inputForm {
  width: calc(100% - 52px);
  border-radius: 12px;
  border: 1px solid;
  padding: 15px 24px;
  border-color: var(--primary-color);
}

.active {
  outline: #000000;
  border-color: #000000 !important;
  color: #000000 !important;
}

.eyeIcon {
  color: #9e9e9e;
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 55%;
  transform: translateY(-50%);
}
