.img {
  display: block;
  aspect-ratio: 1;
  width: 100%;
}

.logo_container {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 16px;
}

.logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: dimgray;
}

.logo_description {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 16px;
}

.descriptionTest {
  /* width: 100%; */
  padding: 16px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 16px;
}

.links {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 8px;
}

.links_item {
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 4px;
}

.link_img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: darkgrey;
  margin-right: 8px;
}

.url {
  color: #07145b;
  cursor: pointer;
}
