.loader {
  position: absolute;
  top: 240px;
  left: -1%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
}

.symbols {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #656565;
}

.post_container {
  resize: none;
  width: calc(100% - 52px);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding: 15px 24px;
  color: #8d8d8d;
  border: 1px solid #8d8d8d;
  border-radius: 12px;
  margin-bottom: 4px;
}

.post_description {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #656565;
  margin-top: 16px;
}

.links_container {
  margin-top: 32px;
}

.links_title {
  font-size: 10px;
  line-height: 16px;
  color: #666666;
}

.supported_links {
  font-size: 10px;
  line-height: 16px;
  color: #666666;
  margin-top: 16px;
}