.back_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.empty_block {
  width: 120px;
  height: 1px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: var(--primary-letter);
}

.form_container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.form {
  flex-grow: 1;
}

.input_container {
  position: relative;
  margin-bottom: 20px;
}

.input {
  display: block;
  border-radius: 12px;
  border: 1px solid var(--primary-color);
  width: calc(100% - 52px);
  margin-top: 4px;
  margin-bottom: 8px;
  padding: 15px 24px;
}

.addLink {
  position: absolute;
  top: 49%;
  right: 24px;
}

.post_description {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #656565;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.img_link {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #dbd7d7;
  border-radius: 50%;
  margin-right: 12px;
}

.name_link {
  /* font-family: Manrope; */
  font-size: 12px;
  font-weight: 500;
  /* line-height: 48px; */
  letter-spacing: var(--primary-letter);
  color: #2b2b2b;
}

.url_link {
  /* font-family: Manrope; */
  font-size: 8px;
  font-weight: 500;
  /* line-height: 48px; */
  letter-spacing: var(--primary-letter);
  color: #9a9a9a;
}

.delete_link {
  margin-left: auto;
  margin-right: 5px;
}

.btn_container {
  flex-shrink: 0;
  margin-bottom: 16px;
}
