.inputForm {
  width: calc(100% - 30px);
  border-radius: 12px;
  border: 2px solid;
  padding: 15px;
  margin-bottom: 15px;
  color: #9e9e9e;
  position: relative;
}

.textInfo {
  margin: auto;
  width: 231px;
  font-family: Manrope;
  font-size: 9px;
  font-weight: 400;
  text-align: center;
}
.spanPolicy {
  cursor: pointer;
  margin-left: 2px;
  color: #435bd7;
}
.inputContainer {
  position: relative;
}

.passwordInputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeIcon {
  color: #9e9e9e;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 40%;
  transform: translateY(-50%);
}
.errorText {
  color: #ff0000;
  font-size: 12px;
  position: absolute;
  top: -8px;
  left: 15px;
  background-color: white;
  padding: 0 5px;
  z-index: 1;
}
