.formContainer {
  max-width: 400px;
  margin: auto;
  text-align: center;
}
.inputForm {
  width: calc(100% - 30px);
  border-radius: 12px;
  border: 2px solid;
  padding: 15px;
  margin-bottom: 10px;
  color: #9e9e9e;
  display: inline-block;
}

.textForgot {
  display: flex;
  justify-content: flex-end;
  color: #ba8e8e;
  cursor: pointer;
  text-decoration: underline;
}
