.inputForm {
  width: calc(100% - 30px);
  border-radius: 12px;
  border: 2px solid;
  padding: 15px;
  margin-bottom: 10px;
  color: #9e9e9e;
  display: inline-block;
}
.textForgot {
  display: flex;
  justify-content: flex-end;
  color: #ba8e8e;
  cursor: pointer;
  text-decoration: underline;
}

.passwordInputContainer {
  position: relative;
}

.eyeIcon {
  color: #9e9e9e;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
