.inputForm {
  width: calc(100% - 52px);
  border-radius: 12px;
  border: 2px solid;
  padding: 15px 24px;
  margin-bottom: 18px;
  /* margin-bottom: 8px; */
  color: #9e9e9e;
  position: relative;
}

.inputForm:active,
:focus {
  outline: #000000;
  border-color: #000000;
  color: #000000;
}

.active {
  outline: #000000;
  border-color: #000000;
  color: #000000;
}

.link_forgot {
  display: block;
  width: 100px;
  padding: 8px 0;
  margin-left: auto;
  margin-top: -20px;
  margin-right: -10px;
  cursor: pointer;
}

.textForgot {
  color: #da2e2e;
  text-decoration: underline;
  font-size: 10px;
  line-height: 28px;
  letter-spacing: var(--primary-letter);
  /* margin-top: -28px; */
  cursor: pointer;
  /* padding: 4px; */
}

.inputContainer {
  position: relative;
}
.passwordInputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.img_error {
  position: absolute;
  top: 18%;
  display: block;
  right: 20px;
  width: 20px;
  height: 26px;
}

.eyeIcon {
  color: #9e9e9e;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 40%;
  transform: translateY(-50%);
}

.error {
  color: #da2e2e;
}

.errorText {
  color: #da2e2e;
  font-size: 12px;
  position: absolute;
  bottom: 4px;
  left: 0;
  /* background-color: white; */
  padding: 0 5px;
  z-index: 1;
}

.btn_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 48px;
  letter-spacing: var(--primary-letter);
  color: #fff;
}

.btn_valid button {
  background-color: #eccd43;
  color: #fff;
}
