.main_container {
  margin-top: -20px;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.logo_container_active {
  position: sticky;
  top: -1px;
  background-color: #ffffff;
  margin-right: -1px;
  margin-left: -1px;
}

.logo_container_active_dark {
  position: sticky;
  top: -1px;
  background-color: rgb(28 26 26);

  margin-right: -1px;
  margin-left: -1px;
}

.logo {
  font-family: Modak;
  font-size: 36px;
  font-weight: 400;
  line-height: 16px;
  color: var(--primary-bg);
  text-shadow: -4px -3px 0px rgba(0, 0, 0, 1);
}

.iconDark svg path {
  stroke: #ffffff;
}
