.logo_container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: Modak;
  font-size: 36px;
  font-weight: 400;
  line-height: 16px;
  color: var(--primary-bg);
  text-shadow: -4px -3px 0px rgba(0, 0, 0, 1);
}

.iconDark svg path {
  stroke: #ffffff;
}
