.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(214 214 214 / 55%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 45%;
  background-color: honeydew;
}

.svg {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 30px;
  height: 30px;
  background-color: black;
}
