.adverticerEdit_container {
  margin-top: 43px;
  text-align: center;
}

.icon {
  border: solid 2px #656565;
  border-radius: 50%;
  margin-bottom: 8px;
}

.input_container {
  position: relative;
}

.input,
.textarea {
  display: block;
  border-radius: 12px;
  border: 1px solid #9e9e9e;
  width: 100%;
  height: 48px;
  margin-bottom: 8px;
}

.textarea {
  height: 138px;
}

.addLink {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}
