.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: cadetblue;
  margin-bottom: 90px;
}
