.top_container {
  margin-bottom: 18px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  margin-bottom: 16px;
}

.item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(158, 158, 158, 0.12);
  border-radius: 12px;
  width: calc(100% - 24px);
  padding: 8px 0 8px 24px;
  margin-bottom: 8px;
}

.descr {
  font-size: 12px;
  line-height: 48px;
  letter-spacing: var(--primary-letter);
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-left: 8px;
}
