.buttonContainer {
  position: relative;
}

.buttonForm {
  margin-top: 40px;
  width: 100%;
  cursor: pointer;
  
}

.separatorLine {
  top: -26px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #9e9e9e;
  
}

.orText {
  position: absolute;
  left: 220px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0 10px;
  color: #9e9e9e;
}
.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
