.links_list {
  display: flex;
  margin-top: 16px;
}

.links_list_item {
  width: 70%;
}

.action_links {
  margin-right: 8px;
}

.callToActionLinks {
  resize: none;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #ebebeb #f9f9f9;
  width: 70%;
  height: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #8d8d8d;
  border-radius: 12px;
  padding: 15px 24px 5px 24px;
}
