.swiper_slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: inline-block;
}

.swiper_slide .img {
  height: 210px;
  width: 205px;
  margin: 0 auto;
}

.title,
.description,
.specification {
  text-align: center;
  margin: 16px 0;
}

.swiper_title {
  margin: 40px 0 16px 0;
}
