.photo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 17px 0;
  cursor: pointer;
}

.addPhoto {
  display: none;
}

.photo_containner {
  width: 100px;
  height: 100px;
  border: solid 2px #656565;
  border-radius: 50%;
  overflow: hidden;
}

.photo_title {
  font-size: 12px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: var(--primary-letter);
  color: var(--primary-color);
}

.modal {
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -45%);
  border-radius: 16px;
  background-color: #fffefe;
  box-shadow: 10px 5px 5px rgb(163 160 160), -0.5em 0 0.4em rgb(163 160 160);
}

/* .avatar div div{
  border-radius: 50% !important;
  width: 100vw !important;
  height: 100vh !important;
  border: solid 2px #656565 !important;
  background-color: black;
} */
