.goBack {
  position: relative;
  display: flex;
  align-items: center;
}

.titleRecovery {
  position: absolute;
  top: 50%;
  left: 34%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: var(--primary-letter);
  text-align: center;
  margin-left: 70px;
}
