.goBack {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: -13px;
  margin-top: -15px;
}

.titleRecovery {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-55%, -50%);
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: var(--primary-letter);
  text-align: center;
  /* margin-left: 70px; */
}

.iconDark svg path{
  stroke:  #ffffff
}
