.links_container {
  display: flex;
  align-items: center;
}

.list{
  width: 76%;
  margin-right: 8px;
}

.list_name{
    width: 60%;
    margin-right: 15px;
}

.item {
  overflow-x: auto;
  width: 70%;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: var( --primary-color);
  border: 1px solid var( --primary-color);
  border-radius: 12px;
  margin-top: 16px;
  padding: 15px 24px;
}

.item_name{
  width: 70%;
}

.img{
  margin-top: 15px
}
